@import "./variables.scss";
.about-me {
  margin-left: 50px;
  font-size: 54px;
  text-transform: uppercase;

  .about-me-text {
    width: 50%;
    p {
      font-size: 46px;
      font-weight: 600;
    }
    span {
      text-decoration: line-through;
      color: red;
    }
  }
}

@media (max-width: 878px) {
  .about-me {
    margin-right: 50px;

     .about-me-text {
    width: 100%;
  }
  }
 
}
