@import "./variables.scss";

.contact {
  .contact-form {
    margin: 0 auto;
    width: 60%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    label {
      font-size: 30px;
    }
    input {
      height: 30px;
      border-radius: 10px;
      border: none;
      font-size: 20px;
      padding: 7px;
      border: 1px solid $background-dark;
    }
    textarea {
      height: 160px;
      border-radius: 10px;
      border: none;
      font-size: 20px;
      padding: 7px;
      border: 1px solid $background-dark;
    }
    .submit {
      width: 200px;
      height: 40px;
      margin: 0 auto;
      background-color: $primary;
    }

  }
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-sent-content {
      background-color: $background-light;
      color: $text-light;
      padding: 20px;
      border-radius: 10px;
      width: 190px;
      position: relative;
      .close-button {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 29px;
        color: #f54729;
        margin-right: 10px;
        margin-top: 10px;
      }
      p {
        font-size: 35px;
      }
    }
  }
}

@media (max-width: 550px) {
  .contact .contact-form {
    width: 90%;
  }
}
