@import "./variables.scss";

.projects {
  padding: 0 50px;

  h3 {
    margin-left: 50px;
    font-size: 54px;
  }
  .projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: scroll;
    .card-container {
      width: 22rem;
      height: 17rem;
      .card {
        width: 100%;
        height: 83%;
        border-radius: 10px;
        cursor: pointer;
        color: $text-light;
        box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;

        img {
          border-radius: 10px;
          object-fit: cover;
          width: 100%;
          height: 100%;

          opacity: 0.9;
          transition: opacity 0.2s ease-out;
        }
        h2 {
          position: absolute;
          top: 50%;
        }
        p,
        a {
          position: absolute;
          opacity: 0;
          max-width: 80%;
          transition: opacity 0.3s ease-out;
        }

        p {
          inset: auto auto 80px 30px;
        }

        a {
          inset: auto auto 40px 30px;
          color: inherit;
          text-decoration: none;
        }

        &:hover p,
        &:hover a {
          opacity: 1;
          transition: opacity 0.5s 0.1s ease-in;
        }

        &:hover img {
          transition: opacity 0.3s ease-in;
          opacity: 1;
        }
      }
    }
  }

  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0px;
    .modal-container {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 70px;
      overflow: scroll;

      .image-container {
        height: 30%;
        width: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .close-button {
        position: absolute;
        color: black;
        font-size: 35px;
        top: 10px;
        left: 15px;
        cursor: pointer;
      }
      .modal-content {
        padding: 30px;
        .modal-link-buttons {
          display: flex;
          gap: 20px;
          div {
            background-color: white;
            border: $background-dark 1px solid;
            padding: 7px;
            width: 100px;
            text-align: center;
            font-size: 24px;
          }
        }
        .technologies {
          ul {
            display: flex;
            padding-left: 0px;
            li {
              list-style-type: none;
              img {
                width: 50px;
              }
            }
          }
        }
      }

      &.light {
        background-color: $background-light;
      }
      &.dark {
        background-color: $background-dark;
      }
      width: 30%;
    }
  }
}

.material-symbols-outlined {
  vertical-align: middle;
}
@media (max-width: 878px) {
  .projects {
    .projects-container {
      flex-wrap: wrap;
      .card-container {
        width: 80vw;

        .card {
          width: 100%;
        }
      }
      .modal .modal-container{
        width: 50%;
      }
    }
  }
}

@media (max-width: 500px) {
  .projects {
    .projects-container {
      .modal .modal-container{
        width: 80%;
      }
    }
  }
}
